.pt-6 {
    padding-top: 5rem!important;
}
.py-6 {
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
}
.dev-link a{
	color: rgba(255,255,255,.5);
}
.btn-outline-light, .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.95);
}
.nav-item.active {
    color: #ffffff!important;
    background-color: #007bff;
}
.nav-item.active a{
    color: #ffffff;
}
.dropdown-item{
    color: #007bff!important;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #007bff;
    color: rgba(255,255,255,.75);
}
.contact img{
    width: 6rem;
}
.profile img{
    width: 10rem;
}
.sidebar{
    height:  100vh;
}
.teacherInfo img{
    max-width: 250px;
}
.table-custom tr{
    border-bottom: 1px solid #dee2e6;
}
.table-custom tr:last-child{
    border-bottom: none;
}